<form action="/" method="post">
    <div id="add-stylist-form" class="form-group">
        <label for="add-stylist">Add a stylist:</label>
        <input id="add-stylist" class="form-control" name="new_stylist" type="text" placeholder="stylist name">
        <button id="create-stylist" class="btn btn-success btn-block form-submit" type="submit">Create Stylist</button>
    </div>
</form>
