<form action="/" method="post">
    <div id="add-client-form" class="form-group">
        <label for="add-client">Add a client:</label>
        <input id="add-client" class="form-control" name="new_client" type="text" placeholder="client name">
        {% include "partials/stylist_dropdown.html.twig" %}
        <button class="btn btn-success btn-block form-submit" type="submit">Create Client</button>
    </div>
</form>
