<div id="client-details" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ client.getName }}</h2>
    </div>
    <div class="panel-body">
        <h3>Stylist:</h3>
        <ul>
            <li><a href="/stylist/{{ client.getStylistId }}"><h3>{{ client_stylist.getName }}</h3></a></li>
        </ul>
    </div>
</div>
