<div id="client-details" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ client.getName }}</h2>
        <div class="close-details">
            <a href="/"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-9">
                <h3>Stylist:</h3>
                <ul>
                    <li><a href="/stylist/{{ client.getStylistId }}"><h3>{{ client_stylist.getName }}</h3></a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                {% include "partials/delete_button.html.twig" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-push-9">
                <div id="client-details-stylist-dropdown">
                    {% include "partials/stylist_dropdown.html.twig" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-push-9">
                {% include "partials/update_button.html.twig" %}
            </div>
        </div>
    </div>
</div>
