
<form action="\" method="post" class="form-group">
    <input type="hidden" name="delete_all" type="number">
    <button id="delete-all" class="btn btn-danger" type="submit">DELETE ALL</button>
</form>
