<nav class="nav-bar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ home_name }}</a>
            {% include "partials/hamburger_button.html.twig" %}
            <div id="home-glyph-button" class="nav navbar-nav navbar-right">
                <a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
</nav>
