<div id="stylist-details" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ stylist.getName }}</h2>
        <div class="close-details">
            <a href="/"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-9">
                <h3>Clients:</h3>
                <ul>
                    {% for client in stylist.getClients %}
                        <li><a href="/client/{{ client.getId }}"><h3>{{ client.getName }}</h3></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-3">
                {% if stylist.getName != "UNASSIGNED" %}
                    {% include "partials/delete_button.html.twig" %}
                {% endif %}
                {% include "partials/update_button.html.twig" %}
            </div>
        </div>
    </div>
</div>
