<div id="new-stylist-name-input">
    <label for="update-stylist-name-input">Please Enter New Stylist Name:</label>
    <input id="update-stylist-name-input" class="form-control" name="updated_stylist_name" type="text">
</div>
<button id="update-stylist-name-button" class="btn btn-warning" type="submit">SUBMIT</button>
