    {% if client %}

        <form action="/client/{{ client.getId }}" method="post" class="form-group">
            {% if show_update_options %}
                {% include "partials/update_client_options.html.twig" %}
            {% else %}
                <input type="hidden" name="allow_update" type="number" value="1">
                <button id="update-client-button" class="btn btn-warning" type="submit">UPDATE CLIENT</button>
            {% endif %}
        </form>

    {% elseif stylist %}

        <form action="/stylist/{{ stylist.getId }}" method="post" class=
        "form-group">
            {% if show_update_options %}
                {% include "partials/update_stylist_options.html.twig" %}
            {% else %}
                <input type="hidden" name="allow_update" type="number" value="1">
                <button id="update-stylist-button" class="btn btn-warning" type="submit">UPDATE STYLIST</button>
            {% endif %}

        </form>
    {% endif %}
