<div id="client-details-stylist-dropdown">
    {% include "partials/stylist_dropdown.html.twig" %}
</div>
<div id="new-client-name-input">
    <label for="update-client-name-input">Please Enter New Client Name:</label>
    <input id="update-client-name-input" class="form-control" name="updated_client_name" type="text">
</div>
<button id="update-client-name-button" class="btn btn-warning" type="submit">SUBMIT</button>
