<html>
    {# =HEADER============================ #}
    {% include "partials/header.html.twig" %}

    <body>
        {% include "partials/navbar.html.twig" %}
        <div class="container">
        </div>
    </body>
</html>
