<html>
    {# =HEADER============================ #}
    {% include "partials/header.html.twig" %}

    <body>
        {% include "partials/navbar.html.twig" %}
        <div class="container">
            <div class="page-header">
                <h1>{{ home_name }}</h1>
            </div>

            {% include "partials/add_new_client.html.twig" %}
        </div>
    </body>
</html>
