body
{
    background-image: url("/img/background_texture_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-content
{
    position: relative;
}

/*===NAVBAR AND HEADER STYLING============================================*/
.page-header
{
    margin-top: 100px;
    text-align: center;
    background-color: transparent;

    -webkit-text-stroke: 1px black;
    color: #f5d5d5;
    text-shadow:
    2px 2px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    border-bottom: 1px solid #111;
}

.page-header h1
{
    padding-top: 20px;
}

.nav-bar
{
    height: 75px;
    background-image: url("/img/hair_blowing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-header
{
    text-align: center;
}

.navbar-inverse .navbar-brand
{
    font-size: 1.5em;
    -webkit-text-stroke: 1px white;
    color: #f5d5d5;
    text-shadow:
    1px 1px 0 #fefefe,
    -0.5px -0.5px 0 #fefefe,
    0.5px -0.5px 0 #fefefe,
    -0.5px 0.5px 0 #fefefe,
    0,5px 0.5px 0 #fefefe;
}

.glyphicon-home
{
    -webkit-text-stroke: 1px white;
    color: #f5d5d5;
    text-shadow:
    1px 1px 0 #fefefe,
    -0.5px -0.5px 0 #fefefe,
    0.5px -0.5px 0 #fefefe,
    -0.5px 0.5px 0 #fefefe,
    0,5px 0.5px 0 #fefefe;
}

#home-glyph-button
{
    float: right;
    font-size: 1.5em;
    margin-top: 10px;
}

#hamburger
{
    margin-left: 30px;
}

/*===CHOOSE STYLIST DROPDOWN=====================================*/
.dropdown
{
    float: right;
}

.dropdown-button-text
{
    float: left;
    margin-right: 10px;
}

.dropdown-button-text p
{
    margin-bottom: 0;
}

.caret
{
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

#client-details-stylist-dropdown
{
    display: block;
    width: 100%;
}

/*===SEARCH BAR==================================================*/
#search-bar
{
    float: right;
}


#search-button-div
{
    float: right;
    padding-left: 0;
}

#search-button
{
    height: 34px;
}

#search-form
{
    float: left;
    padding: 0;
}

/*===OBJECT DETAILS STYLING======================================*/

#client-details , #stylist-details
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 2;

    background-color: #f5f5f5;
    opacity: .95;
}

.panel-title
{
    float: left;
}

.close-details
{
    margin-left: 99%;
}


/*===MEDIA QUERIES===========================================================*/
@media (min-width: 768px)
{
    #stylist-dropdown-div
    {
        padding-left: 0;
    }

    .navbar-header
    {
        float: none;
    }

    #home-glyph-button
    {
        margin-right: 30px;
        font-size: 2em;
    }

    #all-stylists-display , #all-clients-display
    {
        font-size: 1.5em;
    }
}

@media (max-width: 767px)
{
    .dropdown
    {
        width: 100%;
    }

    #stylist-dropdown
    {
        width: 100%;
    }
}
