body
{
    background-image: url("/img/background_texture_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-content
{
    /* Allow for client and stylist details to float above the main-content using
     position: absolute relative to main content*/
    position: relative;
}

/*===NAVBAR AND HEADER STYLING============================================*/
.page-header
{
    /* Leave space for navbar */
    margin-top: 100px;
    text-align: center;
    background-color: transparent;

    /* Make text more readable by outlining */
    -webkit-text-stroke: 1px black;
    color: #f5d5d5;
    text-shadow:
    2px 2px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    /* Create thin dark line for separation */
    border-bottom: 1px solid #111;
}

/* Give header adaquate space from navbar */
.page-header h1
{
    padding-top: 20px;
}

.nav-bar
{
    height: 75px;
    background-image: url("/img/hair_blowing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-header
{
    text-align: center;
}

.navbar-inverse .navbar-brand
{
    /* Outline brand for readability */
    font-size: 1.5em;
    -webkit-text-stroke: 1px white;
    color: #f5d5d5;
    text-shadow:
    1px 1px 0 #fefefe,
    -0.5px -0.5px 0 #fefefe,
    0.5px -0.5px 0 #fefefe,
    -0.5px 0.5px 0 #fefefe,
    0,5px 0.5px 0 #fefefe;
}

.glyphicon-home
{
    /* Outline home icon for readability */
    -webkit-text-stroke: 1px white;
    color: #f5d5d5;
    text-shadow:
    1px 1px 0 #fefefe,
    -0.5px -0.5px 0 #fefefe,
    0.5px -0.5px 0 #fefefe,
    -0.5px 0.5px 0 #fefefe,
    0,5px 0.5px 0 #fefefe;
}

#home-glyph-button
{
    float: right;
    font-size: 1.5em;
    margin-top: 10px;
}

#hamburger
{
    /* Keep space between home icon and hamburger button */
    margin-left: 30px;
}

/*===CHOOSE STYLIST DROPDOWN=====================================*/

/* LI TAGS IN DROPDOWN (AKA CHOICES)*/
.dropdown-menu li
{
    /* Move away from left side */
    margin-left: 5px;
}

.dropdown-button-text
{
    /* Allow for spacing between caret and text to remain consistent */
    float: left;
    margin-right: 10px;
}

.dropdown-button-text p
{
    /* Keep button thin 34px height */
    margin-bottom: 0;
}

.caret
{
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

/* NOTE:
 * Stylist dropdown on main page where clients are added should sit on top
 * of the right side of the create client button. Otherwise do not float
 */
#add-client-stylist-dropdown > .dropdown
{
    float: right;
}

/* NOTE:
 * When updating a client's stylist from the client details page
 * make a bit of room between dropdown and submit button
 */
#client-details-stylist-dropdown
{
    margin-bottom: 10px;
}

/*===CLIENTS STYLISTS LIST====================================================*/

#database-contents-list
{
    /* In order to move delete-all button to the bottom of the div */
    position: relative;
}

/*================SEARCH BAR==================================================*/
#search-bar
{
    float: right;
}

#search-button-div
{
    float: right;
    /* Put magnifying glass icon right next to the search bar */
    padding-left: 0;
}

#search-button
{
    height: 34px;
}

#search-form
{
    float: left;
    padding: 0;
}

/*=========DELETE ALL BUTTON==================================================*/
#delete-all
{
    position: absolute;
    width: 90%;
    bottom: 5%;
    left: 5%;
}



/*===OBJECT DETAILS STYLING======================================*/

/* POSITION DETAILS ABOVE MAIN CONTENT WITH A SEMI TRANSPARENT BACKGROUND*/
#client-details , #stylist-details
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 2;

    background-color: #f5f5f5;
    opacity: .95;
}

/* NOTE:
 * allow title and close button to occupy same line by floating title left
 */
.panel-title
{
    float: left;
}
/* Put x (close) button almost all the way to the right of the details panel */
.close-details
{
    margin-left: 99%;
}

#update-stylist-name-input
{
    margin-bottom: 10px;
}

/*===MEDIA QUERIES===========================================================*/
@media (min-width: 768px)
{
    #add-client-stylist-dropdown
    {
        padding-left: 0;
    }

    .navbar-header
    {
        float: none;
    }

    #home-glyph-button
    {
        margin-right: 30px;
        font-size: 2em;
    }

    #all-stylists-display , #all-clients-display
    {
        font-size: 1.5em;
    }
}

@media (max-width: 767px)
{
    .dropdown
    {
        width: 100%;
    }

    #stylist-dropdown
    {
        width: 100%;
    }
}
