/*===NAVBAR STYLING============================================*/
.page-header
{
    margin-top: 100px;
}

.nav-bar
{
    height: 75px;
}

.navbar-header
{
    text-align: center;
}

#home-glyph-button
{
    float: right;
    font-size: 1.5em;
    margin-top: 10px;
}

#hamburger
{
    margin-left: 30px;
}





#main-content
{
    position: relative;
}


/*===OBJECT DETAILS STYLING======================================*/

#client-details , #stylist-details
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 2;

    background-color: #f5f5f5;
    opacity: .95;
}

.panel-title
{
    float: left;
}

.close-details
{
    margin-left: 99%;
}


/*===MEDIA QUERIES===========================================================*/
@media (min-width: 768px) {

    .navbar-header
    {
        float: none;
    }



    #home-glyph-button
    {
        margin-right: 30px;
        font-size: 2em;
    }

}
